/* -------------------------------------
        GLOBAL 
------------------------------------- */

footer {
  font-size: 16px;
  font-size: 1rem;
}

/* -------------------------------------
        GOTOP BUTTON
------------------------------------- */

#gotop {
  font-size: 32px;
  font-size: 2rem;
}

/* -------------------------------------
        TOP NAV 
------------------------------------- */

#top-nav {
  padding: 0px;
}
  #top-nav .nav-button {
    font-size: 28px;
    font-size: 1.75rem;
    letter-spacing: 2.4px;
    letter-spacing: 0.15rem;
    width: 22%;
    height: 90px;
  }

/* -------------------------------------
        MAIN
------------------------------------- */

#proj-list-div {
  ;
}
